<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Google Analytic -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-65256806-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- InstaFeed -->
<script type="text/javascript">
    // var loadButton = document.getElementById('more_link');
    if(typeof window.orientation !== 'undefined'){
      var feed = new Instafeed({
          clientId: '25b8f32a687f46ae9a05c32a35f21ddc',
          get: 'user',
          userId: 229540819,
          resolution: 'standard_resolution',
          accessToken: '229540819.25b8f32.ead87ce8c0234b828361c064274cc0a9',
          sortBy:'most-recent',
          limit: 6,
          after: function(){
            // $('#more_link').appendTo('#instafeed');
          // 	if (!this.hasNext()) {
            // 	loadButton.setAttribute('disabled', 'disabled');
              // }
          }
      });
    }else{
      var feed = new Instafeed({
          clientId: '25b8f32a687f46ae9a05c32a35f21ddc',
          get: 'user',
          userId: 229540819,
          resolution: 'standard_resolution',
          accessToken: '229540819.25b8f32.ead87ce8c0234b828361c064274cc0a9',
          sortBy:'most-recent',
          limit: 15,
          after: function(){
            // $('#more_link').appendTo('#instafeed');
            // if (!this.hasNext()) {
            //   loadButton.setAttribute('disabled', 'disabled');
            // }
          }
      });
    }
 //    // bind the load more button
    // loadButton.addEventListener('click', function() {
    //   feed.next();
    // });
    feed.run();
</script>
<!-- <script type="text/javascript">
    $('#banner').appendTo('#instafeed');
</script> -->

<!--Structured Data for Google -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "url": "http://prashanthvarma.com/",
      "image": "https://raw.githubusercontent.com/prashanthvarma/prashanthvarma.github.io/master/img/profile.jpg",
      "additionalName": "Prashanth Varma Manthena",
      "description":"Life Long Learner & Tech. Enthusiast",
      "name": "Mani Prashanth Varma Manthena"
      ,
      "sameAs" : [
        "https://www.facebook.com/maniprashanthvarma.manthena",
        "https://www.instagram.com/prashanth_varma_manthena/",
        "https://www.linkedin.com/in/prashanthvarma/",
        "https://plus.google.com/u/0/+ManiPrashanthVarmaManthena",
        "https://github.com/prashanthvarma",
        "https://twitter.com/prashanthvarma",
        "https://scholar.google.nl/citations?user=vrV8YSgAAAAJ&hl=en&oi=sra",
        "http://www.researcherid.com/rid/D-6369-2015",
        "https://www.researchgate.net/profile/Mani_Prashanth_Varma_Manthena",
        "http://orcid.org/0000-0003-1582-6465"
      ]
    }
</script>

<!--<script type="text/javascript">-->
  <!--var changeButton = document.getElementById('change_to_star_war');-->
  <!--changeButton.addEventListener('click', function() {-->
    <!--document.getElementById('about_change').innerHTML = -->
    <!--'<iframe src="rsc/about_star_war/index.html"></iframe>'-->
    <!--document.getElementById("about").className = "";-->
  <!--});-->
<!--</script>-->