<section id="travel">
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <h2 class="category-heading alt-font">Travel&nbsp<a href="https://instagram.com/prashanth_varma_manthena"> <i class="fa fa-instagram"></i> </a> </h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div id="insta_container" style="text-align:center">
                    <div id="instafeed"> </div>
                </div>
            </div>
        </div>
    </div>
</section>