<section id="travel">
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <h2 class="category-heading alt-font">Travel&nbsp<a href="https://instagram.com/prashanth_varma_manthena"> <i class="fa fa-instagram"></i> </a> </h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
            </div>
            <div id="instafeed"></div>
            <script type="text/javascript">
                var feed = new Instafeed({
                  accessToken: 'IGQVJYTlFTTHhWWkVHbUZAqa2MtR1FBeV9udnlMRTI0LU9FVUlOdVR0b0dCZA3lsd0VBQnV1SUQzTkZAfa1E2TUVSYkhhQXlCODlPcVp0TUIzWmxfWDhhMkIyRG15SldaUW42VkhzUERJOVZANWmVzc194WAZDZD'
                });
                feed.run();
            </script>
        </div>
    </div>
</section>
